{% extends "base.html" %}

{% block content %}

<div class="container">
  <div class="row justify-content-md-center top">
    <div class="col-lg-2">
      <img class="img-fluid" src="{{user.image_url}}" alt="Profile Pic" heigh="200"></img>
    </div>
    <div class="col-lg-4">
      <div class="row">
        <h3 class="col">{{user.full_name}}</h3>
      </div>
      <div class="row justify-content-left">
        <a class="btn btn-secondary col-lg-2" href="/users">Back</a>  
        <a class="btn btn-primary col-lg-2" href="/users/{{user.id}}/edit">Edit</a>
        <a class="btn btn-danger col-lg-2" href="/users/{{user.id}}/delete">Delete</a>
      </div>
    </div>
  </div>
</div>
<style>

</style>
{% endblock %}
